// Colors

$white: #fff;
$black: #000;
$midblack: #121212;
$whitesmoke: #f7f7f7;
$solitude: #f1f2f6;
$solitudeblue: #e3e8f5;
$bunker: #1d222a;
$nero: #222222;
$matterhorn: #575757;
$nobel: #969696;
$silver: #c6c6c6;
$charcoalgrey: #39414d;
$dimgrey: #636363;
$suvagrey: #8d8d8d;
$lightgrey: #c9c9c9;
$gainsboro: #d9d9d9;
$waikawagrey: #61759d;
$cornflowerblue: #6285ff;
$ceruleanblue: #2763ce;

// breakpoints
$breakpoints: (
  "mobile": 320px
);
